<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/head :: head" />
<body>
<nav th:replace="blocks/navbar :: navigation"></nav>
<div class="container my-5">
    <div class="row">
        <form class="col-12" method="post"  action="/user">
            <div class="row">
                <div class="col-3">
                    <label class="form-label">User Name</label>
                    <input type="text" class="form-control" placeholder="User Name"  name="username">
                </div>
                <div class="col-3">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" placeholder="Password"  name="password">
                </div>
                <div class="col-3">
                    <label class="form-label">Full Name</label>
                    <input type="text" class="form-control"  placeholder="Full Name" name="fullName">
                </div>
                <div class="row">
                    <div class="col-3">
                        <label class="form-label">Phone</label>
                        <input type="tel" class="form-control" placeholder="Phone" name="phone">
                    </div>
                    <div class="col-3">
                        <label class="form-label">Role</label>
                        <select class="form-control" name="role">
                            <option value="ROLE_ADMIN">ADMIN</option>
                            <option value="ROLE_USER">USER</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label class="form-label">Date Of Birth</label>
                        <input type="date" class="form-control" name="dateOfBirth" placeholder="2018-07-22">
                    </div>
                    <div class="col-2 mt-4">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="enabled" name="enabled">
                            <label class="form-check-label" for="enabled">Active</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-1">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

<footer th:replace="blocks/footer :: footer"/></footer>

</body>
</html>


