<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="blocks/head :: head" />
<body>
<nav th:replace="blocks/navbar :: navigation"></nav>
<div class="container my-5">
    <div class="row">
        <h1 th:text="'User: ' + ${item.username}"></h1>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a
                        class="nav-link active"
                        id="details-tab"
                        data-toggle="tab"
                        href="#details"
                        role="tab"
                        aria-controls="details"
                        aria-selected="true"
                >Details</a>
            </li>
            <li class="nav-item">
                <a
                        class="nav-link"
                        id="addresses-tab"
                        data-toggle="tab"
                        href="#addresses"
                        role="tab"
                        aria-controls="addresses"
                        aria-selected="false"
                >Addresses</a>
            </li>
        </ul>
        <div class="tab-content my-5" id="myTabContent">
            <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
                <form class="col-12" method="post" th:object="${item}">
                    <div class="row">
                        <div class="col-3">
                            <label class="form-label">User Name</label>
                            <input type="text" class="form-control" placeholder="User Name" th:field="*{username}"
                                   name="username" required="">
                        </div>
                        <div class="col-3">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control" placeholder="Password" th:field="*{password}"
                                   name="password" required="">
                        </div>
                        <div class="col-3">
                            <label class="form-label">Full Name</label>
                            <input type="text" class="form-control" placeholder="Full Name" th:field="*{fullName}"
                                   name="fullName" required="">
                        </div>
                            <div class="col-3">
                                <label class="form-label">Phone</label>
                                <input type="tel" class="form-control" placeholder="Phone" th:field="*{phone}"
                                       name="phone" required="">
                            </div>
                        <div class="row mt-4">
                            <div class="col-3">
                                <label class="form-label">Email</label>
                                <input type="email" class="form-control" placeholder="Email" th:field="*{email}"
                                       name="email" required="">
                            </div>
                            <div class="col-3 ">
                                <label class="form-label">Role</label>
                                <select class="form-control" name="role" th:field="*{role}">
                                    <option value="ROLE_ADMIN">ADMIN</option>
                                    <option value="ROLE_USER">USER</option>
                                </select>
                            </div>
                            <div class="col-2">
                                <label class="form-label">Date Of Birth</label>
                                <input type="date" class="form-control" name="dateOfBirth" th:field="*{dateOfBirth}"
                                       placeholder="2018-07-22" required="">
                            </div>
                            <div class="col-2 mt-3">
                                <div class="form-check form-switch mt-4  ml-4">
                                    <input class="form-check-input" type="checkbox" id="enabled" name="enabled"
                                           th:field="*{enabled}">
                                    <label class="form-check-label" for="enabled">Active</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-1">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<footer th:replace="blocks/footer :: footer"/></footer>


<script>
    $(document).ready(function() {
        $('#addresses_table').DataTable();
        $('#myTab a').on('click', function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    });
</script>

</body>
</html>


