<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/head :: head" />
<body>
<nav th:replace="blocks/navbar :: navigation"></nav>
<div class="container my-5">
    <div class="row">
        <div class="col-4">
            <div class="swiper-container gallery-top" >
                <div class="swiper-wrapper">
                    <div class="swiper-slide" th:each="photo : ${item.getPhotos()}" th:style="'background: url(' + @{/file/__${photo.id}__} + '); background-position:center; background-size: cover;'"></div>
                </div>
                <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
            </div>
            <div class="swiper-container gallery-thumbs" style="height: 100px !important;">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" th:each="photo : ${item.getPhotos()}" th:style="'background: url(' + @{/file/__${photo.id}__} + '); background-position:center; background-size: cover;'"></div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h1 class="product-title" th:text="${item.name}"></h1>
            <div class="product-description" th:utext="${item.description}"></div>
        </div>
        <div class="col-2">
            <div class="product-box text-center">
                <div class="product-price text-danger" th:text="${@environment.getProperty('currency')} + ${item.price}"></div>
                <form th:action="@{/cart/addProduct}" method="post">
                    <input type="text" name="pid" th:value="${item.getId()}" hidden>
                    <input class="form-control" type="number" name="qty" value="1" placeholder="Quantity">
                    <button class="btn btn-primary" onclick="if
                    (!(confirm('Your product was placed into basket!'))) return false">Add to Cart</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">

    </div>
</div>

<footer th:replace="blocks/footer :: footer"/></footer>
<script>
    var galleryThumbs = new Swiper('.gallery-thumbs', {
        spaceBetween: 10,
        slidesPerView: 4,
        freeMode: true,
        watchSlidesVisibility: true,
        watchSlidesProgress: true,
    });
    var galleryTop = new Swiper('.gallery-top', {
        spaceBetween: 10,
        zoom: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        thumbs: {
            swiper: galleryThumbs
        }
    });
</script>

</body>
</html>




