<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/head :: head" />
<body>
<nav th:replace="blocks/navigation :: navigation"></nav>
<div class="container my-5">
    <div class="row">
        <h1>Add New Attribute</h1><br />
        <form class="row" th:action="@{/admin/attribute}" method="post">
            <div class="col">
                <input type="text" name="name" class="form-control">
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-success ml-5">Create</button>
            </div>
        </form>
    </div>
</div>

<footer th:replace="blocks/footer :: footer"/></footer>

</body>
</html>




