<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/head :: head" />
<body>
<nav th:replace="blocks/navbar :: navigation"></nav>
<div class="container my-5">
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-5">
                    <h1>Your Order</h1>
                    <p th:text="${order.getId()}"></pth>
                </div>
                <div class="col text-center" th:text="${#lists.size(order.items)} + ' items'"></div>
            </div>
            <div class="row">
                <div class="row g-1" th:each="p : ${order.items}">
                    <div class="col-3"><img class="img-fluid" th:src="@{/file/__${p.getProduct().getPhotos()[0].id}__}"></div>
                    <div class="col-3" th:text="${p.getProduct().getName()}"></div>
                    <div class="col-3">
                        <div class="row justify-content-center g-0">
                            <div class="col-6"><input class="form-control text-center" type="number" th:value="${p.qty}" disabled></div>
                        </div>
                    </div>
                    <div class="col-1">
                        <input class="form-control" th:value="${p.getProduct().getPrice()}"  step="0.1" disabled />
                    </div>
                    <div class="col-1">
                        <input class="form-control" th:value="${p.subtotal}" step="0.1" disabled />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <a th:href="@{/}"><i class="bi bi-arrow-left"></i> Back to shop</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <h1>Summary</h1>
            </div>
            <div class="row">
                <form th:action="@{/order/create}" method="post">
                    <div class="col-12">
                        <input class="form-control" type="number" step="0.1" name="subtotal" id="subtotal" th:value="${order.amount}" disabled />
                    </div>
                    <div class="col-12">
                        <label class="form-label">SHIPPING</label>
                        <input class="form-control" type="text" name="delivery-fee" th:value="${order.delivery_fee}" disabled>
                    </div>
                    <div class="col-12">
                        <label class="form-label">Discount</label>
                        <input class="form-control" type="text" name="discount" th:value="${order.discount}"  disabled>
                    </div>
                    <div class="col-12">
                        <label class="form-label">TOTAL PRICE</label>
                        <input class="form-control" type="text" name="total" id="total" th:value="${order.amount}" disabled>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<footer th:replace="blocks/footer :: footer"/>
</body>
</html>







