<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="blocks/head :: head" />
<body>
<nav th:replace="blocks/navbar :: navigation"></nav>
<div class="container">
    <div class="row">
        <div class="col-2" th:replace="blocks/categories :: categories"></div>
        <div class="col-10">
            <div class="row" th:replace="blocks/slider :: slider"></div>
            <form class="row" action="/" id="searchForm">
                <div class="col-4">
                    <label class="form-label">Search</label>
                    <input name="searchText" id="searchInput" class="form-control filter__search js-shuffle-search" type="search" />
                </div>
                <div class="col-3">
                    <label class="form-label">Search In File</label>
                    <input name="searchInFile" id="searchInputInFile" class="form-control" type="search" placeholder="Search in files"/>
                </div>
                <div class="col-2">
                    <label class="form-label">Filter</label>
                    <select class="form-select filter-options" id="product-categories">
                        <option value="all" data-group="all" selected>All</option>
                        <option th:each="categ : ${categories}" th:text="${categ.name}" th:value="${categ.slug}" th:data-group="${categ.slug}"></option>
                    </select>
                </div>
                <div class="col-3">
                    <fieldset class="filters-group">
                        <label class="form-label">Sort</label>
                        <div class="btn-group sort-options">
                            <label class="btn">
                                <input type="radio" name="sort-value" value="title" /> Title
                            </label>
                            <label class="btn">
                                <input type="radio" name="sort-value" value="date-created" /> Date Created
                            </label>
                        </div>
                    </fieldset>
                </div>
                <input type="submit" hidden>
            </form>
            <div class="row mt-3" id="js-shuffle" >
                <div th:each="p,pStat : ${products}"

                     class="col-4 product-item my-3"
                     th:data-groups="${p.getCategories2String()}"
                     th:data-title="${p.getName()}">

                    <!-- To avoid Personalized product to appear among other products on home page :
                    th:unless="${pStat.index == 5}" -->
                    <div class="card" th:unless="${pStat.index == 5}">
                        <a th:href="'/product/' + ${p.getId()}"><img class="card-img-top"
                           th:src="@{/file/__${p.getPhotos()[0].id}__}" alt=""

                           ></a>
                        <div class="card-body container">
                            <h4 class="card-title">
                                <a th:text="${p.getName()}" th:href="'/product/' + ${p.getId()}"/>
                            </h4>
                            <h5 th:text="${p.getPrice()}" />
                            <ul class="m-0 p-0" th:each="pc : ${p.getCategories()}"
                                th:text="${pc.getName()}"></ul>
                        </div>
                    </div>
                </div>
                <div class="col-1 my-sizer-element"></div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="blocks/footer :: footer"/></footer>
<script>
    $(document).ready(function() {

        const swiper = new Swiper('.swiper-container', {
            loop: true,
            centeredSlides: true,
            setWrapperSize: true,
            pagination: {
                el: '.swiper-pagination',
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            scrollbar: {
                el: '.swiper-scrollbar',
            },
            on: {
                slideChangeTransitionStart: function () {
                    var swiper = this;
                    var slideTitle = $(swiper.slides[swiper.activeIndex]).attr("data-title");
                    var slideSubtitle = $(swiper.slides[swiper.activeIndex]).attr("data-subtitle");
                    $(".slide-captions").html(function() {
                        return "<h2 class='current-title'>" + slideTitle + "</h2>" + "<h4 class='current-subtitle'>" + slideSubtitle + "</h4>";
                    });
                }
            }
        });
        swiper.autoplay.start();
        $('#product-categories').select2();
        $('#product-categories').on('select2:select', function (e) {
            window.demo.shuffle.filter(e.params.data.id);
        });

        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);


        const searchInput = document.getElementById("searchInput");
        const searchInputInFile = document.getElementById("searchInputInFile");
        searchInput.value = urlParams.get("searchText");
        searchInputInFile.value = urlParams.get("searchInFile");

        searchInput.addEventListener("keyup", function(event){
            if (event.keyCode === 13)
                document.getElementById("searchForm").submit();
        })
        searchInputInFile.addEventListener("keyup", function(event){
            if (event.keyCode === 13){
                document.getElementById("searchInput").value = "";
                document.getElementById("searchForm").submit();
            }
        })

        $("#searchInput").easyAutocomplete({
            url: '/product/search',
            list: {
                maxNumberOfElements: 10,
                match: {
                    enabled: true
                }
            },
            theme: "bootstrap"
        });
        //fix dropdown size
        document.getElementsByClassName("easy-autocomplete")[0].style.removeProperty("width");
        document.getElementsByClassName("easy-autocomplete")[0].classList.add("col-2");

        const categegories = Array.from(document.getElementById("categories").children);
        categegories.forEach(function (c){
            c.addEventListener("click", function (event) {
                window.demo.shuffle.filter(event.target.dataset.group);
            });
        })

    });

</script>
</body>
</html>

