<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="blocks/head :: head" />

<body style="background-color: #ededed;">

<nav th:replace="blocks/navbar :: navigation"></nav>

<div class="container my-5 ">
        <form style="margin-top: 40px; margin-bottom: 60px;  border:none; margin-left: auto;
    margin-right: auto;" th:class="col-lg-4" autocomplete="off" action="#" th:action="@{/register}" th:object="${user}"
              method="post"
               class="form-signin" role="form">
            <h2 class="form-signin-heading">Registration Form</h2>

            <div class="form-group">
                <div class="mt-3">
                    <input type="text" th:field="*{username}" placeholder="Username" class="form-control" required=""/>
                </div>
            </div>

            <div class="form-group">
                <div class="mt-3">
                    <input type="text" th:field="*{fullName}" placeholder="Full Name" class="form-control" required=""/>
                </div>
            </div>
            <div class="form-group">
                <div class="mt-3">
                    <input type="email" th:field="*{email}" placeholder="Email" class="form-control" required=""/>
                </div>
            </div>

            <div class="form-group">
                <div class="mt-3">
                    <input type="tel" th:field="*{phone}" placeholder="Phone" class="form-control" required=""/>
                </div>
            </div>
            <div class="form-group">
                <div class="mt-3">
                    <input type="date" th:field="*{dateOfBirth}" placeholder="Date of Birth" class="form-control" required=""/>
                </div>
            </div>
            <div class="form-group">
                <div class="mt-3">
                    <input type="password" th:field="*{password}" placeholder="Password" class="form-control" required=""/>
                </div>
            </div>

            <div class="form-group">
                <div class="mt-4 center-custom" >
                    <button type="submit" class=" btn btn-primary btn-block ">Register</button>
                </div>
            </div>
            <b class="center-custom mt-2"><span th:utext="${successMessage}"></span></b>
            <div class="alert alert-success alert-dismissible col-sm-12"
                 th:if="${(bindingResult != null && bindingResult.getAllErrors() != null)}">
                <button type="button" class="close" data-dismiss="alert"
                        aria-hidden="true">×</button>
                <ul th:each="data : ${bindingResult.getAllErrors()}">
                    <li th:text="${data.getObjectName() + ' :: ' + data.getDefaultMessage()}"></li>
                </ul>
            </div>
        </form>
    </div>
</div>

<footer th:replace="blocks/footer :: footer"/></footer>

</body>
</html>


