<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="blocks/head :: head" />
<body>
<nav th:replace="blocks/navbar :: navigation"></nav>
<div class="container my-5">
    <div class="row">
        <h1 class="col-6">Categories</h1>
        <div class="col-6">
            <a class="btn btn-primary float-right" th:href="@{/admin/slider/create}"
               role="button">Create New Slide</a>
        </div>
    </div>
    <div class="row">
        <table id="table_id" class="table table-hover mt-4">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Subtitle</th>
                <th scope="col">Image</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="s : ${list}">
                <td scope="row" th:text="${s.id}"></td>
                <td th:text="${s.getTitle()}"></td>
                <td th:text="${s.getSubtitle}"></td>
                <td><img class="card-img-top" th:src="@{/file/__${s.getImage().id}__}" alt=""></a></td>
                <td>
                    <a th:href="@{/admin/slider/__${s.id}__/edit}">Edit</a>
                    <a>&nbsp;|&nbsp;</a>
                    <a th:href="@{/admin/slider/__${s.id}__/delete}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<footer th:replace="blocks/footer :: footer"/></footer>
<script>
    $(document).ready( function () {
        $('#table_id').DataTable();
    } );
</script>
</body>
</html>







