<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/head :: head" />
<body>
<nav th:replace="blocks/navbar :: navigation"></nav>
<h3 class="center-custom mt-5">Address Form</h3>

<div class="container my-5 center-custom">

    <form class="col-4" method="POST" action="#" th:action="@{/user/address/save}" th:object="${address}">
        <div class="row">

            <!--  Hidden form field to handle update  -->
            <input type="hidden" th:field="*{id}">

                <label class="form-label">Full Name
                     <input type="text" th:field="*{fullName}" class="form-control mb-4" placeholder="Full Name"
                            required="">
                </label>

                <label class="form-label">Phone
                    <input type="tel" th:field="*{phone}" class="form-control mb-4" placeholder="Phone" required="">
                </label>
                <label class="form-label">Address 1
                    <input type="text" th:field="*{address1}" class="form-control mb-4" placeholder="Address 1"
                           required="">
                </label>
                <label class="form-label">Address 2
                    <input type="text" th:field="*{address2}" class="form-control mb-4"
                           placeholder="Address 2" required="">
                </label>

                <label class="form-label">Post Code
                    <input type="text" th:field="*{postCode}" class="form-control mb-4"
                           placeholder="Post Code" required="">
                </label>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
    </form>
</div>


<footer th:replace="blocks/footer :: footer"/></footer>

</body>
</html>


