<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/head :: head" />
<body>
<nav th:replace="blocks/navbar :: navigation"></nav>
<div class="container my-5">
    <div class="row">
        <form class="col-12" method="post">
            <div class="row">
                <div class="col-3">
                    <label class="form-label">Full Name</label>
                    <input type="text" class="form-control" placeholder="Full Name"  name="full_name">
                </div>
                <div class="col-3">
                    <label class="form-label">Phone</label>
                    <input type="tel" class="form-control" placeholder="Phone" name="phone">
                </div>
                <div class="row">
                    <div class="col-3">
                        <label class="form-label">Address 1</label>
                        <input type="text" class="form-control" placeholder="Address 1"  name="address1">
                    </div>
                    <div class="col-3">
                        <label class="form-label">Address 2</label>
                        <input type="text" class="form-control"  placeholder="Address 2" name="address2">
                    </div>
                    <div class="col-3">
                        <label class="form-label">Address 2</label>
                        <input type="text" class="form-control"  placeholder="Post Code" name="postcode">
                    </div>

                </div>
            </div>
            <div class="row mt-5">
                <div class="col-1">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

<footer th:replace="blocks/footer :: footer"/></footer>

</body>
</html>


