

  /*{  border: 1px solid #ff0000;   } */


/*body {*/
/*  padding-top:56px;*/
/*}*/

.fill {
  object-fit: cover;
  width: 900px;
  height: 350px;
}


.centered_slider_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.img_oppacity{
  opacity: 0.5;
}

.jumbotron{
  height: 650px;
}

.display-3{
  padding-top: 100px;
}


@media (min-width:1200px) {
  #navbarResponsive {
    margin-left: -120px;
  }
  nav {
    max-height: 60px;
  }
  .img_width_lg{
    width: 110%;
  }
}


@media (min-width:992px) {
  #navbarResponsive{
    margin-left: -280px;
  }
  nav {
    max-height: 60px;
  }
}