<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<!-- Custom styles  -->
<link th:href="@{css/basket.css}" rel="stylesheet">

<title>PaintByNumbers - Basket</title>

<head th:replace="blocks/head :: head" ></head>

<div th:insert="~{blocks/navigation :: navigation}"></div>


<body>
<div class="pb-5 basket_body">
    <div class="container">
        <div class="row basket_row">
            <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
                <div class=" mt-5" id="">
                    <div class="card basket_card">
                        <div class="row basket_row">
                            <div class="col-md-8 cart">
                                <div class="title">
                                    <div class="row basket_row">
                                        <div class="col">
                                            <h4><b>Shopping Cart</b></h4>
                                        </div>
                                        <div class="col align-self-center text-right text-muted">3 items</div>
                                    </div>
                                </div>
                                <div class="row basket_row border-top border-bottom">
                                    <div class="row basket_row main align-items-center">
                                        <div class="col-2"><img class="img-fluid img_basket" src=""></div>
                                        <div class="col">
                                            <div class="row basket_row text-muted">Painting</div>
                                            <div class="row basket_row">The Scream - Edvard Munch</div>
                                        </div>
                                        <div class="col"> <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a> </div>
                                        <div class="col">&euro; 44.00 <span class="close">&#10005;</span></div>
                                    </div>
                                </div>
                                <div class="row basket_row">
                                    <div class="row basket_row main align-items-center">
                                        <div class="col-2"><img class="img-fluid" src=""></div>
                                        <div class="col">
                                            <div class="row basket_row text-muted">Painting</div>
                                            <div class="row basket_row">Starry Night - Van Gogh</div>
                                        </div>
                                        <div class="col"> <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a> </div>
                                        <div class="col">&euro; 44.00 <span class="close">&#10005;</span></div>
                                    </div>
                                </div>
                                <div class="row basket_row border-top border-bottom">
                                    <div class="row basket_row main align-items-center">
                                        <div class="col-2"><img class="img-fluid" src=""></div>
                                        <div class="col">
                                            <div class="row basket_row text-muted">Painting</div>
                                            <div class="row basket_row">Love in London</div>
                                        </div>
                                        <div class="col"> <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a> </div>
                                        <div class="col">&euro; 44.00 <span class="close">&#10005;</span></div>
                                    </div>
                                </div>
                                <div class="back-to-shop"><a th:href="@{/}">&leftarrow;<span class="text-muted">Back to shop</span></a></div>
                            </div>
                            <div class="col-md-4 summary">
                                <div>
                                    <h5><b>Summary</b></h5>
                                </div>
                                <hr>
                                <div class="row basket_row">
                                    <div class="col pl-4" >Value:</div>
                                    <div class="col text-right">&euro; 132.00</div>
                                </div>
                                <form class="form_basket">
                                    <p>SHIPPING</p> <select>
                                        <option class="text-muted">Standard-Delivery- &euro;5.00</option>
                                    </select>
                                    <p>GIVE CODE</p> <input class="input_basket" id="code"
                                                            placeholder="Enter your code">
                                </form>
                                <div class="row basket_row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                                    <div class="col">TOTAL PRICE</div>
                                    <div class="col text-right">&euro; 137.00</div>
                                </div> <a class="btn btn-primary btn-sm basket_btn" th:href="@{/thankYou}"
                                          role="button">CHECKOUT</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Footer -->
    <div th:insert="~{blocks/footer :: footer}"></div>


</body>
</html>

