<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<title>PaintByNumbers - Thank You</title>

<head th:replace="blocks/head :: head" ></head>

<body>
<nav th:replace="blocks/navigation :: navigation"></nav>


    <div class="jumbotron text-center pt-5 mb-0">
        <h1 class="display-3 pt-5">Thank You Artist!</h1>
        <p class="lead"><strong>Now check your email</strong> for further instructions on your order, we will notice
            You
            when it should arrive!
        </p>
        <hr>

        <p class="pt-4">
            Having trouble? <a th:href="@{/contact}">Contact us</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-sm" th:href="@{/}" role="button">Continue to homepage</a>
        </p>
    </div>

<!-- Footer -->
<div class="container">
    <div class="row">

    </div>
</div>
<div th:insert="~{blocks/footer :: footer}"></div>


</body>
</html>



