<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<title>Admin - Products</title>

<head th:replace="blocks/head :: head" ></head>

<body>
<div th:insert="~{blocks/navigation :: admin-navigation}"></div>

<div class="container my-5">
    <div class="row">
        <h1 class="col-6 mt-5">Products</h1>
        <div class="col-6 mt-5">
            <a class="btn btn-primary float-right" th:href="@{/product/create}"
               role="button">Create New Product</a>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover  mt-4">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${list}">
                <td scope="row"> <a th:href="'/product/' + ${item.id}" th:text="${item.id}"></a></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.price}"></td>
                <td>
                    <a th:href="'/product/' + ${item.id} + '/edit'">Edit</a>
                    <a>&nbsp;&nbsp;|&nbsp;&nbsp;</a>
                    <a th:href="'/product/' + ${item.id} + '/delete'">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<footer th:replace="blocks/footer :: footer"/></footer>

</body>
</html>