<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head> <title>Paint By Numbers - Personalize Image</title>
    <div th:replace="blocks/head :: head"></div>
</head>
<body>
<nav th:replace="blocks/navbar :: navigation"></nav>
<div class="container my-5 col-md-10">
    <div class="row ">

        <div class="col-md-5 ml-5">

            <div class="swiper-container gallery-top" >
                <div class="swiper-wrapper">
                    <div class="swiper-slide"  th:each="photo : ${product.getPhotos()}"
                         th:style="'background: url(' + @{/file/__${photo.id}__} + '); background-position:center; background-size: cover;'">
                    </div>
                </div>
                <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
            </div>
            <div class="swiper-container gallery-thumbs" style="height: 100px !important;">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" th:each="photo : ${product.getPhotos()}" th:style="'background: url(' + @{/file/__${photo.id}__} + '); background-position:center; background-size: cover;'"></div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>

        <div class="col-md-4 float-right">
            <h1> Personalized Photo </h1>
            <div class="product-description mb-5"> <h3>Make Your Own Photo</h3> </div>
            <div class="product-box ">
                <div class="product-price text-danger" > </div>

                <form th:action="@{/cart/addProduct}" method="post" >
                    <input type="text" name="pid" th:value="${product.getId()}" hidden>

                    <label for="image-size" class="text-left"><b>Canvas Size:</b></label>
                    <select class="form-control" name="size" id="image-size">
                        <option value="40x50">40x50</option>
                        <option value="40x60">40x60</option>
                        <option value="50x50">50x50</option>
                        <option value="50x70">50x70</option>
                        <option value="60x60">60x60</option>
                        <option value="60x80">60x80</option>
                        <option value="60x100">60x100</option>
                        <option value="70x70">70x70</option>
                        <option value="70x100">70x100</option>
                        <option value="70x140">70x140</option>
                        <option value="80x120">80x120</option>
<!--                        <option th:each="a : ${user.getAddresses()}" th:value="${a.getId()}" th:text="${a.getFullName()} + ' / ' + ${a.getAddress1()}"></option>-->
                    </select>

                    <label class="mt-3 "> <b>Quantity:</b></label>
                        <input class="form-control " type="number" name="qty" value="1" placeholder="Quantity">


                    <label for="frame" class="text-left mt-3"><b>Frame:</b> </label> <br>
                    <select name="frame-presence" id="frame">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>

<!--                    <label for="image-upload" class="mt-3"> <b>Upload your image:</b>-->
<!--                    <input class="mt-3" type="file" id="image-upload" name="image-upload" alt="image-upload">-->
<!--                    </label>-->


<!--                    <form method="POST" enctype="multipart/form-data" action="/admin/file/upload/personalized">-->
<!--                        <input type="file" name="imageUpload">-->
<!--                        <input type="submit" value="Upload">-->
<!--                    </form>-->


                    <div class="tab-pane fade" id="files" role="tabpanel" aria-labelledby="files-tab">
                        <div class="row">
                            <div class="form-group col-6 my-3">
                                <form id="file-form" th:action="@{/admin/file/file4product/__${product.getId()}__}">
                                    <input type="file" class="form-control"  placeholder="Browse" id="file-input" multiple>
                                </form>
                            </div>
                            <div id="file-loading" class="col-1 mt-3 d-none">
                                <div class="spinner-border text-success" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </div>





                    <div class="product-price text-danger center-custom mt-2" style="font-size: x-large"
                         th:text="${@environment.getProperty('currency')} + ${product.price}">
                    </div>

                    <div class="center-custom">
                        <button onclick="OnclickPopUp()" class="btn btn-primary mt-4">Add to Cart</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-1"></div>
    </div>
    <div class="row col-md-12">
        <br>
        <h3 th:class="mt-5">Description</h3>
        <hr>
        <div class="product-description" th:utext="${product.description}"></div>
    </div>
</div>


<footer th:replace="blocks/footer :: footer"/></footer>


<script>
    var galleryThumbs = new Swiper('.gallery-thumbs', {
        spaceBetween: 10,
        slidesPerView: 4,
        freeMode: true,
        watchSlidesVisibility: true,
        watchSlidesProgress: true,
    });
    var galleryTop = new Swiper('.gallery-top', {
        spaceBetween: 10,
        zoom: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        thumbs: {
            swiper: galleryThumbs
        }
    });


    function OnclickPopUp() {
        confirm("Product added to your Basket!")
    }



    $(document).ready(function() {
        $('#product-categories').select2();
        $('#attribute').select2();

        $('#photo_table').DataTable();
        $('#file_table').DataTable();
        $('#attributes_table').DataTable();


        $('#editor').summernote();


        $('#myTab a').on('click', function (e) {
            e.preventDefault()
            $(this).tab('show')
        })

        fileUpload('file-form', 'file-input', 'file-loading');
        fileUpload('photo-form', 'photo-input', 'photo-loading');
    });
</script>

</body>
</html>




